html {
  background-color: rgb(241, 241, 241);
}

.loadingTextImage-container {
  display: flex;
  align-items: center;
}

.skeleton {
  position: relative;
  margin-top: 0%;
  margin-right: 0%;
  margin-left: 0%;
  margin-bottom: -0.4%;
}

.loadingText {
  position: absolute;
  font-size: 16px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  margin-right: 8%;
  margin-left: 8%;
  z-index: 1;
}

.textImageWithoutLink-container {
  display: flex;
  align-items: center;
}

.textImageWithLink-container {
  display: flex;
  align-items: center;
}

.img-container {
  position: relative;
  margin-top: 0%;
  margin-right: 0%;
  margin-left: 0%;
  margin-bottom: -0.4%;
}

.text-container {
  position: absolute;
  z-index: 1;
  margin-right: 8%;
  margin-left: 8%;
}

.subText {
  color: rgb(252, 252, 252);
  font-size: 16px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  text-align: left;
  margin-bottom: 13px;
}

.subTextForNoMatch {
  color: rgb(252, 252, 252);
  font-size: 16px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  text-align: left;
  margin-top: 13px;
}

.text {
  color: rgb(252, 252, 252);
  font-size: 28px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  text-align: left;
}

.link-container {
  margin-top: 35px;
}

.link {
  color: rgb(252, 252, 252);
  font-size: 14px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  text-align: left;
}

a {
  color: rgb(252, 252, 252);
}

p {
  font-size: 16px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  margin-right: 2%;
  margin-left: 2%;
  text-align: left;
}
